body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  background: #e1e1e1;

}

.main-header {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  padding: 40px 20px;
  color: white;
  display:flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
  
}

.search {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top:20px;
}

.search input {
  padding: 10px;
  width: 220px;
  border-radius: 4px;
  border: none;
}

.search button {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #ff9800;
  color: white;
  font-weight: bold;
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie {
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.movie img {
  width: 100%;
  border-radius: 8px;
}

.main-footer {
  background: #1e293b;
  color: white;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
}
